body{
  background: linear-gradient( hsla(300, 5%, 0%, 1),80%,#5a64f6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.head{
	justify-content: center;
	display: flex;
}
.logo img{
	height: 130px;
	margin-right: 100px;
	margin-top: 30px;
	border-radius: 100px;
}
.logo1 img{
    height: 130px;
	margin-left: 100px;
	margin-top: 30px;
	border-radius: 100px;
}
.text{
	margin-top:10px;
}
.text1{
	color: white;
}
.text1 h1{
	margin-bottom: 0;
	font-size: 50px;
}
.text2{
	color: white;
	justify-content: center;
	display: flex;
}
.text2 p{
	margin-top: 10px;
	font-size: 30px;
}
.dropdown {
     position: relative;
     display: inline-block;
     margin-left: 20px;
     margin-top: 20px;
 }    
.dropdown button{
	background-color: grey;
	font-size: 15px;
	border-radius: 5px;
	color: white;
}
.title1, .title2{
	justify-content: center;
	display: flex;
	align-items: center;
}
.title1 h1{
	color: orange;
	margin-bottom: 1px;
}
.title2 h3{
	color: white;
	margin-top: 1px;
}
.flip-card {
  background-color: transparent;
  width: 30%;
  height: 200px;
  justify-content: center;
  display: flex;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: gray;
  border-radius: 100px;
}
.flip-card-back {
  background-color: gray;
  transform: rotateY(180deg);
  border-radius: 100px;
}
.flip-card-back h1{
color:#ffff;
}
.card{
	 justify-content: center;
	display: flex;
}
.pt{
	 justify-content: center;
	display: flex;
	margin-bottom: 35px;
}
.pt h2{
   color:#ffff;
}
.t, .t1, .t2{
justify-content: center; 
	display: flex;
}
.teacher1 p, .teacher2 p, .teacher3 p, .teacher4 p{
 justify-content: center; 
	display: flex;
	margin-top: 0px;
	color: #fff;
}
.teacher1 img, .teacher2 img, .teacher3 img, .teacher4 img{
  margin-bottom: 0px;
  width: 150px;
  border-radius: 100px;
}
.teacher1, .teacher2, .teacher3, .teacher4 {
	margin-right: 50px;
}
.teacher1{
	margin-left: 50px;
}

